@color: #00405d;
@tag-size:80px;
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
body{
    background-color: white;
    color: @color;
}
.tags{
    width:100%;
    height:80px;
    background-color: darkviolet;
    color:white;
    font-size: 30px;
    padding:20px;
}
.bookmarks{
    width:100%;
    height:100%;
    background-color: lightgreen;
    padding:20px;
}
.bookmark{
    width:100%;
    height:50px;
    color:black;
}
.bookmark:hover{
    opacity:0.8;
}
.new-bookmark{
    min-height:@tag-size;
    width:100%;
    background-color: lightcoral;
}
.wrapper{
    width:100vw;
    height:100vh;
}
.new-bookmark-deactive{
    width:100%;
    height:@tag-size;
}
.new-bookmark-active{
    width:100%;
    height:200px;
}