@color: #00405d;
@tag-size:80px;
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
body{
    background-color: white;
    color: @color;
}
.tags{
    width:100%;
    height:80px;
    background-color: darkviolet;
    color:white;
    font-size: 30px;
    padding:20px;
}
.bookmarks{
    width:100%;
    height:100%;
    background-color: lightgreen;
    padding:20px;
}
.bookmark{
    width:100%;
    height:50px;
    color:black;
}
.bookmark:hover{
    color: green;
}